# node modules
**/node_modules

# angular
**/.angular

# assets 
/src/assets/images

# server
/src/server/server
/src/server/credentials/credentials.go

# vscode settings
/.vscode

# executable files
*.exe
src/assets/images
# API key
env.txt
src\assets\env.json
