<mat-card>
    <mat-card-title>Registration</mat-card-title>
    <mat-card-content>
        <form [formGroup] = "registerForm" (ngSubmit) = "submitRegister()">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder = "Username" [formControl] = "usernameRequirements"/>
                    <!-- <div *ngIf="usernameRequirements.invalid && usernameRequirements.touched">
                         <p *ngIf="usernameRequirements.errors?.['required']">Username is required</p>
                        </mat-error> 
                    </div> -->
                    <!-- <mat-error *ngIf="usernameRequirements.errors?.['minlength']">Username must be at least 4 characters long</mat-error> -->
                    <mat-error *ngIf="usernameRequirements.errors?.['required']">Username is required</mat-error>
                    <mat-icon matSuffix> sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance = "outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="showPassword ? 'text' : 'password'" name="password" [formControl]="passwordRequirements">
                    <div *ngIf="passwordRequirements.invalid && passwordRequirements.touched">
                    </div>
                    <mat-icon matSuffix (click)="togglePasswordVisibility()">
                        {{showPassword?'visibility_off':'visibility'}}
                    </mat-icon>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance = "outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="showConfirmPassword ? 'text' : 'password'" name="password">
                        <mat-icon matSuffix (click)="toggleConfirmPassWordVisivility()">
                            {{showConfirmPassword?'visibility_off':'visibility'}}
                        </mat-icon>
                </mat-form-field>
            </div>

            <!-- <p *ngIf = "error" class = "error">
                {{error}}
            </p> -->
            <div class = "mat-button">
                <button type = "submit" mat-raised-button>Register</button>
            </div>
        </form>
    </mat-card-content>
 </mat-card>
<router-outlet></router-outlet>
