<mat-grid-list cols="3" rowHeight="670px">
  <mat-grid-tile [colspan]="2">
    <mat-grid-tile-header class="tile-text"> About </mat-grid-tile-header>
    <div class="tile-content">
      <img src="assets/images/GatorGlobe250x250.png" />
      <div class="about-text">
        Welcome to GatorGuessr! A game that tests your knowledge of the city of
        Gainesville. Similar to the game GeoGuessr, it places users in a random
        location in Gainesville, from the beautiful UF campus to Butler Plaza
        and everything in between. The game is played in one round, and the user
        gains points depending on how close they are to the actual location.
        This game was developed by the four of us below as a final project for
        our Software Engineering class. We hope you enjoy!
      </div>
    </div>
    <div class="team">The Team!</div>
    <div class="ethan">
      <img src="assets/images/ethan.png" />
      <div class="teamtext">Ethan Fan - Backend Engineer</div>
    </div>
    <div class="matthew">
      <img src="assets/images/matt.png" />
      <div class="teamtext">Matthew Deguzman - CEO / Principal Architect</div>
    </div>
    <div class="stephen">
      <img src="assets/images/stephen.png" />
      <div class="teamtext">Stephen Coomes - CTO / Lead Frontend Engineer</div>
    </div>
    <div class="rama">
      <img src="assets/images/rama.png" />
      <div class="teamtext">
        Rama Janco - Chairman of the Board / Senior Frontend Architect
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-grid-tile-header class="tile-text"> Leaderboard </mat-grid-tile-header>
    <!--Position-->
    <table
      mat-table
      [dataSource]="leaderboardArray"
      class="mat-elevation-z0"
      style="margin-top: 1px"
    >
      <!--Name-->
      <ng-container matColumnDef="name">
        <th mat-header-cell class="top-row" *matHeaderCellDef>Name</th>
        <td mat-cell class="element" *matCellDef="let element">
          {{ element.Username }}
        </td>
      </ng-container>

      <!--Score-->
      <ng-container matColumnDef="score">
        <th mat-header-cell class="top-row" *matHeaderCellDef>Score</th>
        <td mat-cell class="element" *matCellDef="let element">
          {{ element.Score }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-grid-tile>
</mat-grid-list>
''
