.tile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.tile-text {
  font-size: 28px;
  font-weight: bold;
}
.text-inside-grid {
  position: absolute;
  left: 5px;
}

.tile-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-top: 5%;
}
.about-text{
  text-align: center;
  margin: 2%;
  font-size: 25px;
  font-weight: bold;
  align-content: center;
  color: cornsilk;
}
.team{
  text-align: center;
  margin: 2%;
  font-size: 48px;
  font-weight: bold;
}

mat-grid-tile {
  border: solid 1px #000;
  border-bottom: none;
}
mat-grid-tile-header .tile-text {
  text-align: center;
}
.top-row {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.element {
  border: solid 1px #000;
  border-bottom: none;
  border-left: none;
}

.mat-table {
  height: 100%;
}
.ethan{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  max-width: 50%;
}
.matthew{
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 13%;
  display: flex;
  align-items: center;
  max-width: 50%;
}
.rama{
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  max-width: 50%;
}
.stephen {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding-bottom: 13%;
  display: flex;
  align-items: center;
  max-width: 50%;
}
.teamtext{
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
}