.full {
    /* accesing div class */
    //overflow: hidden;
    // width: 50vw;
    // height: 90vh;
    height: 80vh;
    width: 25vw;
    grid-row: 1 / -2;
  }
  
  // html {
  //   min-width: 100%;
  //   min-height: 100%;
  // }

  .full,.street{
    grid-row: 1 / 2;
  }
  
  .street {
    width: 100%;
    grid-column: 1/5;
    height: 90vh;
    //width: 50vw;
    //height: 90vh;
    //grid-columns: 1/3;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    //width: 100vw;
    //grid-gap: 0px;
  }