// .full {
//     /* accesing div class */
//     //overflow: hidden;
//     // width: 50vw;
//     // height: 90vh;
//     height: 60vh;
//     width: 30vw;
  
//     //grid-row: 1 / 2;
//   }
  
//   // html {
//   //   min-width: 100%;
//   //   min-height: 100%;
//   // }

//   // .full,.street{
//   //   grid-row: 1 / 2;
//   // }
  
//   .mapView{
//     background-color: beige;
//     position: relative;
//     width: fit-content;
//     height: fit-content;
//   }
//   .streetView{
//     //margin-top: 0;
//     position: relative;
//     width: fit-content;
//     height: fit-content;
//     grid-row: span 2;
//   }

//   .street {
//     top: 0;
//     position: absolute;
//     width: 100vw;
//     left:0;
//     //grid-column: 1/5;
//     height: 90vh;
//     //width: 50vw;
//     //height: 90vh;
//     //grid-columns: 1/3;
//   }
  
//   .grid-container {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr 1fr;
//     //width: 100vw;
//     //grid-gap: 0px;
//   }

.full {
  height: 30vh;
  width: 20vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.mapView {
  background-color: transparent;
  position: absolute; /* Update this line to position absolute */
  width: fit-content;
  height: 40vh;
  bottom: 0; /* Update this line to align to the bottom */
  left: 0; /* Update this line to align to the left */
  z-index: 1;
}

.sub{
  z-index: 2; /* Update z-index value to be higher than full class */
  position: relative; /* Update position to absolute */

  //bottom: calc(100% - 50px); /* Update bottom value to position the "sub" element above ".full" element */
  //left: 10px; /* Update left value to position the "sub" element above ".full" element */

}

.streetView {
  position: relative;
  width: fit-content;
  height: fit-content;
  grid-row: span 2;
}

.street {
  top: 0;
  position: absolute;
  width: 100vw;
  left: 0;
  height: 90vh;
  //height: 90vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
