.full {
  height: 32vh;
  width: 23vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.mapView {
  background-color: transparent;
  border-color: transparent;
  position: absolute; /* Update this line to position absolute */
  width: fit-content;
  height: 40vh;
  bottom: 0; /* Update this line to align to the bottom */
  left: 0; /* Update this line to align to the left */
  z-index: 1;
}



.sub{
  z-index: 2; /* Update z-index value to be higher than full class */
  position: relative; /* Update position to absolute */

  //bottom: calc(100% - 50px); /* Update bottom value to position the "sub" element above ".full" element */
  //left: 10px; /* Update left value to position the "sub" element above ".full" element */

}

.next{
  z-index: 2;
  position: relative;
}

.streetView {
  position: relative;
  width: fit-content;
  height: fit-content;
  grid-row: span 2;
}

.street {
  top: 0;
  position: absolute;
  width: 100vw;
  left: 0;
  height: 92vh;
  //height: 90vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
