<div class="grid-container">
  <mat-card class="streetView">
    <mat-card-content>
      <div class="street" id="Smap"></div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mapView">
    <mat-card-content>
      <div class="full" id="Gmap"></div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        class="sub"
        id="submitButton"
        (click)="submit()"
      >
        Submit
      </button>
      <div>&nbsp; {{ time }} Seconds Left &nbsp;&nbsp;</div>
      <button
        mat-raised-button
        color="warn"
        class="next"
        id="nextButton"
        (click)="nextButton()"
      >
        Next!
      </button>
      <div>&nbsp; Score: {{ score }}</div>
    </mat-card-actions>
  </mat-card>
</div>
