<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            class="input"
            id="username"
            matInput
            #username
            placeholder="Username"
            formControlName="username"
          />
          <mat-icon matSuffix> sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-card-footer class="error" *ngIf="showUserError()">
          Error: No User Found
        </mat-card-footer>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            class="input"
            id="password"
            matInput
            #password
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
          />
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{ showPassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </mat-form-field>
      </div>

      <div>
        <mat-card-footer class="error" *ngIf="showPassError()">
          Error: Incorrect Password
        </mat-card-footer>
      </div>
      <div class="mat-button">
        <button
          id="login-button"
          type="submit"
          mat-raised-button
          (click)="submitLogin(username.value, password.value)"
        >
          Login
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
