<a routerLink="'/app'"></a>
<mat-toolbar class="banner">
  <mat-toolbar-row>
    <span class="left">
      <a href="/home">
        <button id="home-button" mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
      </a>
      <button
        mat-icon-button
        name="Theme"
        value="selectedValue"
        (click)="toggleTheme()"
      >
        <mat-icon>{{ selectedTheme }}</mat-icon>
      </button>
    </span>
    <span class="center">
      <img src="assets/favicon/favicon-64x64.png" />
      <div class="center-title">GatorGuessr</div>
    </span>
    <span class="right">
      <a mat-button routerLink="/register">Register</a>
      <a mat-button routerLink="/login">Login</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
