<div class="mat-app-background {{ selectedValue }}">
  <a routerLink="'/app'"></a>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="left">
        <a href="/home">
          <button mat-icon-button id="home-button">
            <mat-icon color="accent">home</mat-icon>
          </button>
        </a>
        <button
          mat-icon-button
          name="Theme"
          value="selectedValue"
          (click)="toggleTheme()"
        >
          <mat-icon color="accent">{{ selectedTheme }}</mat-icon>
        </button>
      </span>
      <!--
      <span class="middle-left">
        <div color="primary">Welcome {{ username }}!</div>
      </span>
      -->
      <span class="center">
        <img src="assets/favicon/favicon-64x64.png" />
        <div color="primary">GatorGuessr</div>
      </span>
      <!--
      <span class="middle-right">
        <div color="primary">Score: {{ score }}</div>
      </span>
      -->
      <span class="right">
        <a mat-button routerLink="/app">Sign Out</a>
        <button mat-icon-button id="account-settings">
          <mat-icon color="accent">account_circle</mat-icon>
        </button>
        <button mat-icon-button id="delete">
          <mat-icon color="warn">delete</mat-icon>
        </button>
        <!--
        <a mat-button routerLink="/register">Register</a>
        <a mat-button routerLink="/login">Login</a>
        -->
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
