.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.left {
  flex: .5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.middle-left{
  flex: .5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
}

.center {
  flex: .5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.middle-right{
  flex: .5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

.right {
  flex: .5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

