@use "@angular/material" as mat;

@include mat.core();

$angular-light-primary: mat.define-palette(mat.$amber-palette, 900);
$angular-light-accent: mat.define-palette(mat.$gray-palette, 900);
$angular-dark-primary: mat.define-palette(mat.$blue-palette, 700);
$angular-dark-accent: mat.define-palette(mat.$gray-palette, 50);
$angular-warn: mat.define-palette(mat.$red-palette);


$angular-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-light-primary,
      accent: $angular-light-accent,
      warn: $angular-warn,
    ),
  )
);
$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-dark-primary,
      accent: $angular-dark-accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}
.lightMode{
  @include mat.all-component-colors($angular-light-theme);
}


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
